/* Clases de cartas */
i {
    border-radius: 0.5em;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tanjiro {
    background-image: url(/images/tanjiro.png);
}

.nezuko {
    background-image: url(/images/nezuko.png);
}

.tomioka {
    background-image: url(/images/tomioka.png);
}   

.inosuke {
    background-image: url(/images/inosuke.png);
}

.tengen {
    background-image: url(/images/tengen.png);
}

.tokito {
    background-image: url(/images/tokito.png);
}

.zenitsu {
    background-image: url(/images/zenitsu.png);
}

.muzan {
    background-image: url(/images/muzan.png);
}

.rengoku {
    background-image: url(/images/rengoku.png);
}