@import 'variables', 'table', 'user';

* {
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    text-decoration: none;
    list-style: none;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    min-height: 100vh;
    background-color: map-get($colors, 'purple');
}

.wrapper {
    width: auto;
    padding: 1.5em;
    background-color: #f8f8f8;
    border-radius: 0.8em;
    box-shadow: 0 1em 2em #00000050;
}

.card, .view, .score, p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5%;

    .card {
        cursor: pointer;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;

        .view {
            width: 100%;
            height: 100%;
            user-select: none;
            pointer-events: none;
            position: absolute;background: #fff;
            border-radius: 0.5em;
            backface-visibility: hidden;
            transition: transform 0.25s linear;
            box-shadow: 0 0.1em 0.4em #00000020;
        }

        ion-icon {
            font-size: 2.5em;
        }

        img {
            width: 100%; 
            height: 100%; 
            border-radius: 0.5em;
        }
    }
}

.card.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-1em);
    }

    40% {
        transform: translateX(1em);
    }
    60% {
        transform: translateX(-0.5em);
    }
    80% {
        transform: translateX(0.5em);
    }
} 

.card .back-view {
    transform: rotateY(-180deg);
}

.card.flip .front-view{
    transform: rotateY(180deg);
}

.card.flip .back-view{
    transform: rotateY(0);
}

.score {
        justify-content: space-between;
        padding: 0 1em;
        margin-bottom: 1em;
        border-radius: 0.4em;
        width: 100%;
        height: 5vh;
        background: map-get($colors, 'white');
        box-shadow: 0 0.3em 1em #00000010;
        p {
            font-size: 0.75em;
            width: 30%;
            padding-right: 1em;
            border-right: 1px solid black;

            b {
                font-weight: bold;
            }
        }

        button {
            cursor: pointer;
            font-size: 0.75em;
            width: auto;
            padding: 0.5em;
            border-radius: 0.5em;
            border: solid 3px map-get($colors, 'purple');
            background: transparent;
            transition: .3s ease;

            &:hover{
                color: map-get($colors, 'white');
                background-color: map-get($colors, 'purple');
            }
        }
}


::selection {
    color: map-get($colors, 'purple');
}

.swal2-title {
    font-size: 1em; 
  }

/* Media Query */

@media screen and (max-width:530px) {
    .wrapper {
        width: 98vw;
    }

    .score {
        p{
            font-size: 0.6em;
        }
        button {
            font-size: 0.6em;
        }
    }

    .swal2-title {
        font-size: 0.5em; 
      }
}
